body {
  margin: 0;
  padding: 0;
}


html{
  font-family: "Arial", sans-serif;
  width: 100%;
  line-height: 1.2;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  border: 0;
}

h1 {
  margin: 30px;
}
hr {
  border: none; /* Убираем границу для браузера Firefox */
  color: #000; /* Цвет линии для остальных браузеров */
  background-color: #000; /* Цвет линии для браузера Firefox и Opera */
  height: 2px; /* Толщина линии */
 }

a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  outline: none;
}

ol li {
  margin-left: 20px;
}
/*--------------------*/
/*для меню*/

  a.button15 {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: 5px 12px;
  outline: none;
  border: 1px solid rgb(0,0,0,.1);
  border-radius: 3px;
  background: #f1f1f1 linear-gradient(#f9f9f9, #f1f1f1);
  transition: all .218s ease 0s;
}
a.button15:active {
  border: 1px solid rgb(198,198,198);
  background: linear-gradient(#d6d6d6, #f7f7f7);
  box-shadow: 0 1px 2px rgb(0,0,0,.1);
}
a.button15:hover {
  border: 1px solid rgb(204,204,204);
  background: linear-gradient(#f7f7f7, #FFE498);
  box-shadow: 0 1px 2px rgb(0,0,0,.1) inset;
}


 /*свои стили*/
 .mywrapper {
  /* position: absolute; */
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: arial;
  background: #f6f6f6;
}

.blokfull_menu{
  display: flex;
  justify-content: start;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  height: 49px;
  background: #07cdff;
}

.logo {
  min-width: 12%;
  height: 48px;
}
.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.menu_buttons{
  padding: 6px 0;
}

.telo{
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  min-height: 100vh;
}

.left_nav {
  display: inline-block;
  height: auto;
  min-width: 12%;
  background-color: #343a40;
  padding: 5px;
  letter-spacing: 0.07em;
}
.head_left_nav {
  display: block;
  font-family: arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: rgb(230, 230, 230);
  padding: 0 2px;
  margin: 5px 0 2px;
  overflow-wrap: normal;
  -webkit-hyphens: none;​
}

.left hr {
  color: rgb(204, 204, 204);
  height: 2px;
  z-index: 1;
}

.button_left_nav{
  display: block;
  font-family: arial,sans-serif;
  font-size: 16px;
  color: rgb(230, 230, 230);
  text-decoration: none;
  user-select: none;
  padding: 6px 2px;
  outline: none;
  background: #344f57;
  transition: all .218s ease 0s;
  margin-bottom: 3px;
  overflow-wrap: normal;
 -webkit-hyphens: none; hyphens: none;
}
.button_left_nav:hover {
  background: #fdfdfd;
}


.workspace{
  height: auto;
  background: #f6f6f6;
  /* min-width: 85%; */
  padding: 5px 20px;
  width: 100%;
  margin: 0 15px;
  letter-spacing: 0.1em;
  /* word-spacing: 6px; */
}

.page_head_div   {
  /* display: flex;
  justify-content: flex-start; */
  margin-right: 12px;
  padding-right: 10px;
}

.list_block {
  /* border: rgba(0,0,0,0.22) solid 1px; */
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
  font-family: "PT Sans","Helvetica","Arial",sans-serif;;
  line-height: 1.42857;
  transition-duration: 0.3s;
  margin-bottom: 10px;  
  background: #ffffff ;
  /* transition-timing-function: ease-in-out; */
}
.h1{
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
}
.list_block hr {
  margin-bottom: 15px;
}
.item {
  margin-top: 15px;
}
.item label {
  font-size: 16px;
}
.item input {
  font-size: 14px;
  max-width: 600px;
  margin-right: auto;
}

.btn_row {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 20px;
}

label.error {
  display: inline-block;
  padding: 5px;
  color: #fff;
  background: rgb(255, 112, 112);
  border: 1px solid red;
  border-radius: 5px;
}
label.prich {
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
}
#cancel_add_card {
  color: #fff;
}



.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #996633;
  padding: 10px;
}
.footer_telo{
  margin-left: auto;
  margin-right: auto;
  width: 80%
}

.head_img {
  background: url(../img/head.JPG) no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  background-position: center;
  height: 200px;
  margin: 0 ;
}


#list_search input[type="text"] {
  border: 1px solid #8b8b8b; 
  border-radius: 6px; 
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  background: #ffffff !important;
  outline: none;
  width: 200px; 
  color: #000000;
  line-height: 1.5em;
  padding: 5px;
}

.self_block {
  padding-left: 30px;
  padding-right: 30px;
}
.self_ul {
  list-style-type: none;
}

.auth_block {
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  min-width: 500px;
  margin: 30px auto;
}

.auth_error {
  display: block;
  padding: 10px;
  background: rgb(255, 107, 107);
  border-radius: 5px;
  border: solid 1px red;
  color: #fff;
  margin-top: 10px;
}

.activ_text {
  padding: 25px;
  font-size: 16px;
}
.activate_link {
  font-size: 18px;
  font-weight: bold;
  color: #00aeda;
}